.screen {
  display: flex;
  justify-content: center;
  background: #e1e1e1;
}

.screenForm {
  background: linear-gradient(200deg, white, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(145deg, #c8f0fa, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(322deg, #03a6ff, rgba(0, 0, 255, 0) 70.71%);
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  padding-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  width: 100%;
  min-height: calc(100vh - 64px);
}
