.logo {
  padding: 5px;
  text-align: center;
}

.logo > a {
	display: flex;
	align-items: center;
}

.logo-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 50px;
  background: linear-gradient(to right, #0080ff, #a3daff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-img {
	width: 120px;
	height: 120px;
}

@media screen and (max-width: 440px) {
	.logo > a {
		flex-direction: column;
	}
}