/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&family=Cute+Font&display=swap");

/* screen-layout */
@import "layout/layout.css";
@import "layout/reactive.css";

.main {
  justify-content: flex-start;
  font-family: "Cute Font", cursive;
}

.notice-board__container {
  max-width: 700px;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.searchbar {
  display: inline;
  width: 90%;
  margin: 5px;
  border: 2px solid #0080ff;
  border-radius: 15px;
}

.search-icon{
  border: none;
  background: none;
  color: #0080ff;
  font-size: 20px;
  text-shadow: 2px 2px 3px gray;
}

.noticeBoardResult {
	width: 100%;
  max-width: 700px;
	height: 100%;
  background: white;
  margin-top: 15px;
  max-height: 800px;
  overflow-y: auto;
}

#pageList {
	font-size: 18px;
	text-decoration: none;
}

.prev,
.next {
	font-size: 20px;
	margin: 0 5px;
}

.pageNum {
	font-size: 25px;
	margin: 0 5px;
}

.pageNum:hover {
	color: red;
}

.linkTag {
	cursor: pointer;
}
