@import "noticeView.css";

.comment-container {
  margin-top: 15px;
  max-height: 265px;
  overflow: auto;
}

.comment-table {
  max-height: 265px;
  overflow: auto;
}

.cmt {
  text-align: center;
  padding: 0;
}

.comment-btn {
  border: none;
  background: none;
  font-size: 28px;
}
